<!DOCTYPE html>
<html>

<head>
  <title>Shopkeeper | Home
  </title>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
</head>

<body class="jumbotron text-center bg-light">
<div class="jumbotron bg-light">
  <h1 class="text-success display-3">SHOP<span class="text-warning">KEEPER</span> </h1>
  <h2 class="text-secondary">Product Details</h2>
  <nav class="navbar navbar-expand-sm bg-light navbar-light btn btn-outline-success">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/" style="padding-left: 250px;">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/shop/list1" style="padding-left: 100px;">List</a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link text-success" href="/shop/create" style="padding-left: 100px;">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/modify" style="padding-left: 100px;">Modify</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="/shop/delete" style="padding-left: 100px;">Delete</a>
        </li>
      
      </ul>
    </nav>
    <br>

<div class="jumbotron border border-success bg-light">
<form action="/shop/create1" method="POST">

    <input type="text" name="prodId" placeholder="Product ID" required />
    <br /><br />
    <input type="text" name="prodName" placeholder="Product Name" required />
    <br /><br />
    <input type="text" name="prodPrice" placeholder="Product Price" required />
    <br /><br />
    <input type="text" name="prodQuant" placeholder="Number of Products" required />
    <br /><br />

    <button type="submit" class="btn btn-outline-success" >Create</button>
 
  </form>
</div>


</div>
 </body>

</html>