<!DOCTYPE html>
<html>

<head>
  <title>Shopkeeper | Home
  </title>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
</head>

<body class="jumbotron text-center bg-light">
<div class="jumbotron bg-light">
  <h1 class="text-success display-3">SHOP<span class="text-warning">KEEPER</span> </h1>
  <h2 class="text-secondary">Product Details</h2>
  <nav class="navbar navbar-expand-sm bg-light navbar-light btn btn-outline-success">
      <ul class="navbar-nav">
        <li class="nav-item active ">
          <a class="nav-link text-success" href="/" style="padding-left: 220px;">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/shop/list1" style="padding-left: 100px;">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/create" style="padding-left: 100px;">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/modify" style="padding-left: 100px;">Modify</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/shop/delete" style="padding-left: 100px;">Delete</a>
        </li>
      
      </ul>
    </nav>
    <br>

<div class="jumbotron border border-success bg-light">
<h2 class="text-success">Student Details</h2>

      <table class="table table-sm table-bordered">
        <thead class="bg-dark text-success">
          <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Quantity</th>
          </tr>
        </thead>
        <tbody>
        <% if (data) { %>
        <% data.forEach(function(data1){ %>
        <tr>
            <td><%= data1.prodId %></td>
            <td><%= data1.prodname %></td>
            <td><%= data1.prodPrice %></td>
            <td><%= data1.prodQuant %></td>
            
        </tr>
    <% }) %>
    <% } %>


        </tbody>
      </table>
</div>
</div>
 </body>

</html>
